<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Job Scrapper</title>
  </head>
  <body>
    <h1>Job Search</h1>
    <form action="/report" method="get">
      <label for="sjob">Search for a job: </label>
      <input type="text" placeholder="Search for a job" require name="word" />
      <button type="submit" value="submit">Search</button>
    </form>
  </body>
</html>
